[submodule "vim/plugins/general/vim-sensible"]
	path = vim/plugins/general/vim-sensible
	url = git://github.com/tpope/vim-sensible.git
[submodule "vim/plugins/general/ctrlp"]
	path = vim/plugins/general/ctrlp
	url = git://github.com/kien/ctrlp.vim.git
[submodule "vim/plugins/general/vim-fugitive"]
	path = vim/plugins/general/vim-fugitive
	url = git://github.com/tpope/vim-fugitive.git
[submodule "vim/plugins/general/nerdtree"]
	path = vim/plugins/general/nerdtree
	url = git://github.com/scrooloose/nerdtree.git
[submodule "vim/plugins/general/vim-airline"]
	path = vim/plugins/general/vim-airline
	url = git://github.com/vim-airline/vim-airline
[submodule "vim/plugins/general/vim-surround"]
	path = vim/plugins/general/vim-surround
	url = git://github.com/tpope/vim-surround.git
[submodule "vim/plugins/scala/vim-scala"]
	path = vim/plugins/scala/vim-scala
	url = git@github.com:derekwyatt/vim-scala.git
[submodule "vim/plugins/scala/syntastic"]
	path = vim/plugins/scala/syntastic
	url = https://github.com/vim-syntastic/syntastic.git
[submodule "vim/plugins/scala/ensime-vim"]
	path = vim/plugins/scala/ensime-vim
	url = https://github.com/ensime/ensime-vim
[submodule "vim/plugins/nginx/nginx.vim"]
	path = vim/plugins/nginx/nginx.vim
	url = https://github.com/chr4/nginx.vim
[submodule "vim/plugins/general/vim-gitgutter"]
	path = vim/plugins/general/vim-gitgutter
	url = https://github.com/airblade/vim-gitgutter
[submodule "vim/plugins/clojure/vim-salve"]
	path = vim/plugins/clojure/vim-salve
	url = git://github.com/tpope/vim-salve.git
[submodule "vim/plugins/clojure/vim-fireplace"]
	path = vim/plugins/clojure/vim-fireplace
	url = git://github.com/tpope/vim-fireplace.git
[submodule "vim/plugins/clojure/vim-clojure-static"]
	path = vim/plugins/clojure/vim-clojure-static
	url = git://github.com/guns/vim-clojure-static.git
[submodule "vim/plugins/clojure/paredit.vim"]
	path = vim/plugins/clojure/paredit.vim
	url = https://github.com/vim-scripts/paredit.vim
