Host *
  AddKeysToAgent yes
  IdentitiesOnly yes
  IdentityFile ~/.ssh/id_rsa

Host bastion
  Hostname ec2-3-234-94-154.compute-1.amazonaws.com
  User ubuntu
  Port 22
  StrictHostKeyChecking no
  PasswordAuthentication no
  ServerAliveInterval 30
  ServerAliveCountMax 3
  IdentityFile ~/.ssh/aws_treestaker.pem

Host sentinel-1
  Hostname ec2-54-243-127-104.compute-1.amazonaws.com
  User ubuntu
  Port 22
  StrictHostKeyChecking no
  PasswordAuthentication no
  ServerAliveInterval 30
  ServerAliveCountMax 3
  IdentityFile ~/.ssh/aws_treestaker.pem

Host sentinel-2
  Hostname ec2-34-196-74-141.compute-1.amazonaws.com
  User ubuntu
  Port 22
  StrictHostKeyChecking no
  PasswordAuthentication no
  ServerAliveInterval 30
  ServerAliveCountMax 3
  IdentityFile ~/.ssh/aws_treestaker.pem

Host sentinel-3
  Hostname ec2-52-202-14-221.compute-1.amazonaws.com
  User ubuntu
  Port 22
  StrictHostKeyChecking no
  PasswordAuthentication no
  ServerAliveInterval 30
  ServerAliveCountMax 3
  IdentityFile ~/.ssh/aws_treestaker.pem

Host private-sentinel-1
  Hostname ip-10-0-0-60.ec2.internal
  User ubuntu
  Port 22
  StrictHostKeyChecking no
  PasswordAuthentication no
  ServerAliveInterval 30
  ServerAliveCountMax 3
  IdentityFile ~/.ssh/aws_treestaker.pem
  ProxyCommand ssh bastion nc %h %p

Host private-sentinel-2
  Hostname ip-10-0-1-109.ec2.internal
  User ubuntu
  Port 22
  StrictHostKeyChecking no
  PasswordAuthentication no
  ServerAliveInterval 30
  ServerAliveCountMax 3
  IdentityFile ~/.ssh/aws_treestaker.pem
  ProxyCommand ssh bastion nc %h %p

Host validator
  Hostname ip-10-0-1-241.ec2.internal
  User ubuntu
  Port 22
  StrictHostKeyChecking no
  PasswordAuthentication no
  ServerAliveInterval 30
  ServerAliveCountMax 3
  IdentityFile ~/.ssh/aws_treestaker.pem
  ProxyCommand ssh bastion nc %h %p

Host tmkms
  Hostname ip-10-0-0-226.ec2.internal
  User ec2-user
  Port 22
  StrictHostKeyChecking no
  PasswordAuthentication no
  ServerAliveInterval 30
  ServerAliveCountMax 3
  IdentityFile ~/.ssh/aws_treestaker.pem
  ProxyCommand ssh bastion nc %h %p
